{
	"extends": [
		"react-app"
	],
	"rules": {
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"semi": 2,
		"no-tabs": "off",
		"no-console": "warn",
		"comma-dangle": "off",
		"no-plusplus": "off",
		"import/first": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"react/jsx-curly-brace-presence": [
			2,
			{
				"props": "never",
				"children": "always"
			}
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1
			}
		],
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": "*",
				"next": [
					"return",
					"export",
					"block",
					"block-like",
					"expression",
					"case",
					"default"
				]
			}
		]
	}
}