* {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'OpenSans Light';
	src: url(./fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'OpenSans Regular';
	src: url(./fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'OpenSans Extra Bold';
	src: url(./fonts/OpenSans-ExtraBold.woff) format('woff');
}

body {
	font-family:
		'OpenSans Regular',
		'HelveticaNeue-Light',
		'Helvetica Neue Light',
		'Helvetica Neue',
		Helvetica,
		Arial,
		'Lucida Grande',
		sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #108db8;
	font-weight: bold;
}

img {
	max-width: 100%;
}

nav {
	width: 100%;
	background: #108db8;
}

nav a {
	color: white;
	padding: 1rem;
	display: inline-block;
}

.content {
	padding: 1rem;
}
