* {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'OpenSans Light';
	src: url(./content/fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'OpenSans Regular';
	src: url(./content/fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'OpenSans Extra Bold';
	src: url(./content/fonts/OpenSans-ExtraBold.woff) format('woff');
}

body {
	--inner-viewport: 100%;

	font-family:
		'OpenSans Regular',
		'HelveticaNeue-Light',
		'Helvetica Neue Light',
		'Helvetica Neue',
		Helvetica,
		Arial,
		'Lucida Grande',
		sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

nav {
	position: absolute;
	width: var(--inner-viewport);
	padding: 20px;
}

nav a {
	padding: 1rem;
	display: inline-block;
}

nav a .active::after {
	display: block;
	content: '';
	position: relative;
	width: 100%;
	height: 1px;
	background-color: black;
}

.hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.hero-text {
	width: 50%;
	height: fit-content;
	position: relative;
}

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--inner-viewport);
	object-fit: contain;
}

.usp-container {
	width: var(--inner-viewport);
	max-width: 1200px;
	margin: 100px auto 200px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.usp {
	text-align: center;
	background-color: grey;
	width: 20%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.usp-icon {
	width: 70%;
	object-fit: contain;
}

.projects-container {
	width: var(--inner-viewport);
	max-width: 1200px;
	margin: 0 auto 200px;
	padding: 0 10px;
}

.project-categories {
	display: flex;
}

.project-category {
	padding: 10px 20px 10px 0;
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
}
